@font-face {
    font-family: 'DroidSerif';
    src: url('fonts/droidserif-italic-webfont.eot');
    src: local('☺'), url('fonts/droidserif-italic-webfont.woff') format('woff'), url('fonts/droidserif-italic-webfont.ttf') format('truetype'), url('fonts/droidserif-italic-webfont.svgz#webfontZRFDtdIC') format('svg'), url('fonts/droidserif-italic-webfont.svg#webfontZRFDtdIC') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OFLSortsMillGoudyTT';
    src: url('fonts/oflgoudystmtt-webfont.eot');
    src: local('☺'), url('fonts/oflgoudystmtt-webfont.woff') format('woff'), url('fonts/oflgoudystmtt-webfont.ttf') format('truetype'), url('fonts/oflgoudystmtt-webfont.svgz#webfontJcHcaHbE') format('svg'), url('fonts/oflgoudystmtt-webfont.svg#webfontJcHcaHbE') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif';
    src: url('fonts/droidserif-webfont.eot');
    src: local('☺'), url('fonts/droidserif-webfont.woff') format('woff'), url('fonts/droidserif-webfont.ttf') format('truetype'), url('fonts/droidserif-webfont.svgz#webfont1IWYdtwy') format('svg'), url('fonts/droidserif-webfont.svg#webfont1IWYdtwy') format('svg');
    font-weight: normal;
    font-style: normal;
}


#title, h1 {
    font-family: 'OFLSortsMillGoudyTT', serif;
    text-align: center;
    text-shadow: #4d30a9 3px 2px 4px;
    }

#title {
    font-size: 60pt;
    visibility: hidden;
    opacity: 0;
    }

#title-privacy {
    font-family: 'OFLSortsMillGoudyTT', serif;
    font-size: 60pt;
    text-align: center;
    }

* {
    margin: 0;
}

html, body {
    height: 100%;
    text-align: center;
    color: #FFF;
}

html {
    margin-left: 80px;
    margin-right: 20px;
    background-image: url(images/theatrical_opening.jpg);
    background-color: #FFF;
    background-position: center bottom;
    background-attachment: fixed;
}

body {
    max-width: 1280px;
    margin:0px auto;
    text-align:left;
}

ul {
    list-style-type: none;
    padding-left: 10px;
    font-weight: normal;
}

#loader {
    color: #FFF;
    font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
    display: none;
    font-size: 48px;
    letter-spacing: -4px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 10px 10px #000;
    text-align: center;
}

#wrapper-game {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    display:none;
}


#header {
    width: 100%;
}

#wrapper {
    float: left;
    width: 100%;
}



#wrapper-intro {
    width: 586px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#center {
    margin: 0 30%;
}

#left {
    float: left;
    width: 30%;
    margin-left: -100%;
}

#right {
    float: left;
    width: 30%;
    margin-left: -30%;
}

#footer-intro, #push-intro {
    //height: 60px;
}

#footer-intro {
    font-family: 'DroidSerif', sans, serif;
    font-size: 12pt;
    visibility: hidden;
    color: #FFF;
    text-align: center;
}

#footer-privacy {
    font-family: 'DroidSerif', sans, serif;
    font-size: 12pt;
    color: #FFF;
    text-align: center;
}

#quote {
    font-family: 'DroidSerif', sans, serif;
    font-size: 16pt;
    font-style: italic;
    text-align: center;
    text-shadow: #4d30a9 1px 1px 3px;
}

#accept {
    font-size: 32pt;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    float: none;
    display: block;
    width: 300px;
    margin: 10px auto;
}

#input-table {
    padding: 5px 0px 5px 0px;
    margin: 0 0 0 0;
    border: 0;
    border-spacing: 0px;
    height: 58px;
    width: 100%;
}

#input, #input:focus {
    padding: 0px 0px 0px 0px;
    font-size: 42px;
    height: 58px;
    width: 100%;
    color: #000;
    border: 0px;
    outline: none;
    background-color: #FFF;
}

#input-left {
    padding: 0px 0px 0px 5px;
    background-image: url(images/input-side-left.png);
    background-position: left;
}

#input-right {
    padding: 0px 5px 0px 0px;
    background-image: url(images/input-side-right.png);
    background-position: right;
}

#input-center {
    padding: 0px 0px 0px 0px;
    width: 100%;
}

#pub, #main, #priv {
    overflow: hidden;
}

#fb-status {
    padding-top: 5px;
    font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    word-spacing: -1px;
}

th {
    vertical-align: top;
}

th p {
    font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

.face {
    width: 50px;
}

.important {
    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: #FAB;

}

.important, .talk {
    background-repeat: repeat-x;
    background-position: bottom;
}

.talk {
    border-right-width: 5px;
    border-right-style: solid;
    border-right-color: #BF9;
}

.null {
}

.main-head, .priv-head, .pub-head {
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: 32px 0px;
    padding-top: 11px;
    opacity: 1;
}

#priv-wrap {
    padding-right: 5px;
}

.feed-head, .feed-tail{
    height: 5px;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

.push-tail {
    background-color: #FFF;
    height: 5px;
}

.left-head {
    padding: 0px 0px 0px 5px;
    background-image: url(images/feed-corner-left.png);
    background-position: left;
}

.right-head {
    padding: 0px 5px 0px 0px;
    background-image: url(images/feed-corner-right.png);
    background-position: right;
}

.left-tail {
    padding: 0px 0px 0px 5px;
    background-image: url(images/feed-corner-left-tail.png);
    background-position: left;
}

.right-tail {
    padding: 0px 5px 0px 0px;
    background-image: url(images/feed-corner-right-tail.png);
    background-position: right;
}

.center-head, .center-tail {
    width: 100%;
    background-color: #FFF;
}


.main-new, .main-old, .pub-new, .pub-old, .priv-old, .priv-new {
    font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
    position: relative;
    margin: 0px;
    background-color: #FFF;
}

.main-new, .pub-new, .priv-new {
    padding-top: 5px;
}

.main-old, .pub-old, .priv-old {
    padding-top: 10px;
}

#pub-wrap {
    padding-left: 5px;
}

#target, #self, #mass {
    font: normal normal normal 0.75em/normal 'Lucida Grande', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px 10px 10px 10px;
    position: relative;
    margin: 0px;
    color: white;
}


#target {
    background-color: #F5A;
    text-shadow: 0px -1px 0px #D38;
}

#mass {
    background-color: #0E7;
    text-shadow: 0px -1px 0px #0C5;
}

#self {
    background-color: #FB0;
    text-shadow: 0px -1px 0px #D90;
}

.exit {
    color: #0000ff;
    font-weight: bolder;
}

.locked-exit {
    color: #ff3333;
    font-weight: bolder;
}

.unlocked-exit {
    color: #00aa00;
    font-weight: bolder;
}

.entity {
    cursor: pointer;
}

.my, .their {
    color: #3B5998;
}

.my {
    font-weight: bolder;
}

.their {
    font-weight: normal;
}


.tweet-meta {
    color: #999;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-top: 2px;
    line-height: 12px;
}

.pub-new, .main-new, .priv-new {
    opacity: 1;
}

.pub-old, .main-old, .priv-old {
    opacity: 1;
}
a {
    color: #FFF;
}
a:link, a:visited {
    text-decoration: none;
}

a:active, #footer-intro a:hover {
    text-decoration: underline;
}

#body-privacy a:link, #body-privacy a:visited {
    color: #BBB;
    text-decoration: none;
}

#body-privacy a:active, #body-privacy a:hover {
    color: #000;
    text-decoration: underline;
}


#readme-content h1, #readme-content h2, #readme-content p, #readme-content div {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    }

#readme {
    display: none;
    position: absolute;
    top: 130px;
    left: 0px;
    background-color: #3b5998;
    height:120px;
    width: 715px;
    margin: 0px 0px 0px -655px;
    z-index: 999;
}

#readme-content {
    width: 615px;
    height: 430px;
    font-size: 13px;
    font-weight:normal;
    text-align:justify;
    background-color: white;
    color: #203360;
    background-color: transparent;
    background-image: url(images/readme-gradient.jpg);
    border-style:solid;
    border-left-width: 0px;
    border-top-width: 1px;
    border-right-width: 10px;
    border-right-color: #6D84B4;
    border-bottom-width: 1px;
    padding: 0px 25px 20px 0px;
}

#readme-content ul {

}

#readme-content:before {
}

#readme-content h1 {
    color: #203360;
}

#readme-content h2 {
    padding-top: 0.5em;
    color: #203360;
}

#readme img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#readme a, #readme a:visited, #readme a:active, #readme a:hover {
    color: #203360;
    text-decoration: underline;
}

#readme ul {
    list-style-type:square;
}

#readme li {
    margin-left: 20px;
}

#fb-like-button {
    text-align: right;
}
